In [14]:
# 获取k线的数据
import tushare as ts

ts.set_token('c5296ca05ea72b91a18070583c91a41b8d278524d8d9c2b0b7c28cce')
pro = ts.pro_api()
df = pro.coinbar(exchange='huobi', symbol='btcusdt', freq='daily', start_date='20180701', end_date='20180801')
df.sort_index()

     symbol        date     open     high      low    close           vol
0   btcusdt  2018-08-01  7757.99  7834.80  7480.00  7601.48  28808.526395
1   btcusdt  2018-07-31  8119.98  8200.02  7651.92  7757.99  28784.735205
2   btcusdt  2018-07-30  8231.63  8277.12  8076.06  8120.20  11684.553053
3   btcusdt  2018-07-29  8113.22  8295.00  8113.22  8232.13   9783.501589
4   btcusdt  2018-07-28  8149.81  8278.00  8006.01  8113.23  10389.971975
5   btcusdt  2018-07-27  8208.36  8301.08  7800.00  8149.67  19332.437339
6   btcusdt  2018-07-26  8116.41  8329.52  8078.84  8208.36  13405.668921
7   btcusdt  2018-07-25  8178.75  8487.30  8055.51  8117.67  25071.709117
8   btcusdt  2018-07-24  7730.94  8360.00  7641.57  8178.75  28289.920714
9   btcusdt  2018-07-23  7526.85  7800.00  7343.00  7730.27  17260.580565
10  btcusdt  2018-07-22  7395.86  7551.67  7339.92  7526.83   9387.875698
11  btcusdt  2018-07-21  7467.46  7699.00  7214.92  7395.63  15777.135690
12  btcusdt  2018-07-20  7399.92  7558.00  7351.00  7467.74  15041.575206
13  btcusdt  2018-07-19  7426.69  7588.00  7240.10  7400.41  17928.830086
14  btcusdt  2018-07-18  6780.55  7546.00  6737.30  7427.43  25140.400500
15  btcusdt  2018-07-17  6640.00  6793.85  6617.60  6780.40  12101.819427
16  btcusdt  2018-07-16  6389.50  6700.00  6333.11  6640.00  11674.280372
17  btcusdt  2018-07-15  6244.58  6391.48  6200.00  6389.51  10877.032160
18  btcusdt  2018-07-14  6262.73  6337.25  6127.00  6244.09   7605.291844
19  btcusdt  2018-07-13  6171.26  6287.30  6078.05  6262.64  10704.951368
20  btcusdt  2018-07-12  6354.57  6375.24  6135.11  6170.80  12914.236146
21  btcusdt  2018-07-11  6381.40  6410.00  6270.00  6354.58  14501.329696
22  btcusdt  2018-07-10  6733.80  6798.87  6326.10  6381.40  16169.666271
23  btcusdt  2018-07-09  6743.66  6772.75  6666.00  6733.80   7537.675590
24  btcusdt  2018-07-08  6559.98  6800.00  6510.25  6743.66  11442.698114
25  btcusdt  2018-07-07  6566.00  6625.93  6500.00  6560.03   7841.924574
26  btcusdt  2018-07-06  6616.01  6643.50  6440.11  6566.00  13368.452604
27  btcusdt  2018-07-05  6681.75  6700.00  6522.75  6616.01  13414.196637
28  btcusdt  2018-07-04  6588.77  6799.00  6415.14  6681.09  12870.506654
29  btcusdt  2018-07-03  6623.94  6683.55  6528.00  6588.90  10668.253805
30  btcusdt  2018-07-02  6313.42  6666.66  6269.31  6623.63  10989.992337

In [46]:
list(range(len(df) - 1, -1, -1))

[30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [43]:
for location in range(len(df)-1,-1,-1):
    print(df.iloc[location])

symbol       btcusdt
date      2018-07-02
open         6313.42
high         6666.66
low          6269.31
close        6623.63
vol            10990
Name: 30, dtype: object
symbol       btcusdt
date      2018-07-03
open         6623.94
high         6683.55
low             6528
close         6588.9
vol          10668.3
Name: 29, dtype: object
symbol       btcusdt
date      2018-07-04
open         6588.77
high            6799
low          6415.14
close        6681.09
vol          12870.5
Name: 28, dtype: object
symbol       btcusdt
date      2018-07-05
open         6681.75
high            6700
low          6522.75
close        6616.01
vol          13414.2
Name: 27, dtype: object
symbol       btcusdt
date      2018-07-06
open         6616.01
high          6643.5
low          6440.11
close           6566
vol          13368.5
Name: 26, dtype: object
symbol       btcusdt
date      2018-07-07
open            6566
high         6625.93
low             6500
close        6560.03
vol          7841.92
Name: 25, dtype: object
symbol       btcusdt
date      2018-07-08
open         6559.98
high            6800
low          6510.25
close        6743.66
vol          11442.7
Name: 24, dtype: object
symbol       btcusdt
date      2018-07-09
open         6743.66
high         6772.75
low             6666
close         6733.8
vol          7537.68
Name: 23, dtype: object
symbol       btcusdt
date      2018-07-10
open          6733.8
high         6798.87
low           6326.1
close         6381.4
vol          16169.7
Name: 22, dtype: object
symbol       btcusdt
date      2018-07-11
open          6381.4
high            6410
low             6270
close        6354.58
vol          14501.3
Name: 21, dtype: object
symbol       btcusdt
date      2018-07-12
open         6354.57
high         6375.24
low          6135.11
close         6170.8
vol          12914.2
Name: 20, dtype: object
symbol       btcusdt
date      2018-07-13
open         6171.26
high          6287.3
low          6078.05
close        6262.64
vol            10705
Name: 19, dtype: object
symbol       btcusdt
date      2018-07-14
open         6262.73
high         6337.25
low             6127
close        6244.09
vol          7605.29
Name: 18, dtype: object
symbol       btcusdt
date      2018-07-15
open         6244.58
high         6391.48
low             6200
close        6389.51
vol            10877
Name: 17, dtype: object
symbol       btcusdt
date      2018-07-16
open          6389.5
high            6700
low          6333.11
close           6640
vol          11674.3
Name: 16, dtype: object
symbol       btcusdt
date      2018-07-17
open            6640
high         6793.85
low           6617.6
close         6780.4
vol          12101.8
Name: 15, dtype: object
symbol       btcusdt
date      2018-07-18
open         6780.55
high            7546
low           6737.3
close        7427.43
vol          25140.4
Name: 14, dtype: object
symbol       btcusdt
date      2018-07-19
open         7426.69
high            7588
low           7240.1
close        7400.41
vol          17928.8
Name: 13, dtype: object
symbol       btcusdt
date      2018-07-20
open         7399.92
high            7558
low             7351
close        7467.74
vol          15041.6
Name: 12, dtype: object
symbol       btcusdt
date      2018-07-21
open         7467.46
high            7699
low          7214.92
close        7395.63
vol          15777.1
Name: 11, dtype: object
symbol       btcusdt
date      2018-07-22
open         7395.86
high         7551.67
low          7339.92
close        7526.83
vol          9387.88
Name: 10, dtype: object
symbol       btcusdt
date      2018-07-23
open         7526.85
high            7800
low             7343
close        7730.27
vol          17260.6
Name: 9, dtype: object
symbol       btcusdt
date      2018-07-24
open         7730.94
high            8360
low          7641.57
close        8178.75
vol          28289.9
Name: 8, dtype: object
symbol       btcusdt
date      2018-07-25
open         8178.75
high          8487.3
low          8055.51
close        8117.67
vol          25071.7
Name: 7, dtype: object
symbol       btcusdt
date      2018-07-26
open         8116.41
high         8329.52
low          8078.84
close        8208.36
vol          13405.7
Name: 6, dtype: object
symbol       btcusdt
date      2018-07-27
open         8208.36
high         8301.08
low             7800
close        8149.67
vol          19332.4
Name: 5, dtype: object
symbol       btcusdt
date      2018-07-28
open         8149.81
high            8278
low          8006.01
close        8113.23
vol            10390
Name: 4, dtype: object
symbol       btcusdt
date      2018-07-29
open         8113.22
high            8295
low          8113.22
close        8232.13
vol           9783.5
Name: 3, dtype: object
symbol       btcusdt
date      2018-07-30
open         8231.63
high         8277.12
low          8076.06
close         8120.2
vol          11684.6
Name: 2, dtype: object
symbol       btcusdt
date      2018-07-31
open         8119.98
high         8200.02
low          7651.92
close        7757.99
vol          28784.7
Name: 1, dtype: object
symbol       btcusdt
date      2018-08-01
open         7757.99
high          7834.8
low             7480
close        7601.48
vol          28808.5
Name: 0, dtype: object